<!-- <mat-list *ngFor="let item of lstUser">
    <mat-list-item> {{item.cityName}} </mat-list-item>
   
   </mat-list> -->

   <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Select City</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of lstUser" [value]="item.cityId">
                    {{item.cityName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-form-field>
            <mat-label>Select Country</mat-label>
            <mat-select>
                <mat-option *ngFor="let item of lstCountry" [value]="item.countryId">
                    {{item.countryName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
 





<!-- <p>list works!</p> -->